                                            header {
                                            background-color: rgb(176, 57, 231);
                                            border: 2px black solid;
                                            padding: 10px;
                                            text-align: center;
                                            font-size: 35px;
                                            color: white;
                                        }
                                        
                                        nav {
                                            float: left;
                                            width: 20%;
                                            height: 400px;
                                            /* only for demonstration, should be removed */
                                            background-color: rgb(221, 138, 238);
                                            padding: 20px;
                                            font-size: 35px;
                                            color: white;
                                        }
                                        /* Style the list inside the menu */
                                        
                                        body {
                                            background-color: rgb(241, 181, 236);
                                        }
                                        
                                        nav ul :hover {
                                            list-style-type: none;
                                            padding: 20px;
                                            font-size: 35px;
                                            color: white;
                                        }
                                        
                                        section::after {
                                            border: 2px black solid;
                                            content: "";
                                            display: table;
                                            clear: both;
                                            text-align: center;
                                            background-color: rgb(255, 197, 247);
                                        }
                                        
                                        form {
                                            text-align: center;
                                            padding: 20px;
                                            width: 50%;
                                            height: 50%;
                                            color: white;
                                            background-color: black;
                                        }
                                        
                                        footer {
                                            background-color: rgb(176, 57, 231);
                                            border: 2px black solid;
                                            text-align: center;
                                            color: white;
                                            padding: 20px;